#home .container {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 5%;
}

#home .container div {
    margin: 1%;
}

.imgContacts {
    display: flex;
    align-items: center;
}

.homeDescription {
    display: flex;
    flex-direction: column;
    font-size: 21px;
}

.bussinesPic {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bussinesPic img{
    width: 75%;
    height:75%;
}